ODOO_URL=https://tu-dominio.com/api
ODOO_DB=tu_base_de_datos
ODOO_API_KEY=tu_api_key_aqui
JWT_SECRET_KEY=cambiar-esto-en-produccion
DEV_MODE=False
DASHBOARD_ADMIN_USER=admin_dashboard
DASHBOARD_ADMIN_PASS=Admin1234!
